<button style="float:right; margin: 10px 0" (click)="router.navigate(['/trained-employee/add'])"
class="btn btn-primary">Recruit Trainee</button>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Plan</th>
      <th>Trainee Name</th>
      <th>Training Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let te of trainedEmployees; let i = index">
      <td>{{i+1}}</td>
      <td>{{te.plan.tech}}</td>
      <td>{{te.trainee.name}}</td>     
      <div [ngSwitch]="te.trainingCompleted">
          <td *ngSwitchCase=0>ongoing</td>
          <td *ngSwitchCase=1>completed</td>
          <td *ngSwitchCase=2>upcoming</td>
      </div>
      <td>
        <a routerLink="edit/{{te._id}}">Edit</a>
        <a routerLink="add-feedback-rating/{{te._id}}">Add Feedback & Rating</a>
      </td>
    </tr>
  </tbody>
</table>