<form class="form-horizontal">
  <fieldset style="width:500px">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Plan</label>
      <div class="col-lg-4">
        <select [(ngModel)]="employeeAttendance.plan" name="plan" (change)="loadTraineesAndPlanAttendance($event)">
          <option *ngFor="let plan of plans" value="{{plan._id}}">{{plan.tech.name}} {{ plan.startDate | date }}</option>
        </select>
      </div>
      <label for="inputEmail" class="col-lg-2 control-label" *ngIf="trainees.length" >Trainee</label>
      <div class="col-lg-4">
        <select [(ngModel)]="employeeAttendance.trainee" name="trainee" *ngIf="trainees.length" (change)="loadTraineeAttendance($event)">
          <option *ngFor="let trainee of trainees" value="{{trainee.trainee}}">{{trainee.traineeName}}</option>
        </select>
      </div>
    </div>    
  </fieldset>
</form>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Class Date</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let att of attendances; let i = index">
      <td>{{i+1}}</td>
      <td>{{att.date | date}}</td>
      <td><span [style.color]="att.status=='Present'?'Green':'Red'">{{att.status}}</span></td>
    </tr>
  </tbody>
</table>