<form class="form-horizontal" (submit)="save()">
  <fieldset style="width:500px">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Technology</label>
      <div class="col-lg-10">
        <select [(ngModel)]="plan.tech" name="targetAudience">
        	<option *ngFor="let tech of technology" value="{{tech._id}}">{{tech.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Trainer</label>
      <div class="col-lg-10">
        <select [(ngModel)]="plan.trainer" name="trainer">
        	<option *ngFor="let emp of employee" value="{{emp._id}}">{{emp.name}}</option>
        </select>
      </div>
    </div>
    <!-- <div class="form-group" *ngFor="let trainee of plan.trainee; let i = index">
      <label for="inputEmail" class="col-lg-2 control-label" >Trainee</label>
      <div class="col-lg-10">
        <select [(ngModel)]="plan.trainee[i]" name="trainer{{i}}">
        	<option *ngFor="let emp of employee" value="{{emp._id}}">{{emp.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="button" class="btn btn-default" (click)="addTrainee()">Add Trainee</button>
        
      </div>
    </div> -->
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Type</label>
      <div class="col-lg-10">
        <select [(ngModel)]="plan.type" name="type">
          <option value="1">Plan</option>
          <option value="0">Need</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Start Date</label>
      <div class="col-lg-10 col-lg-offset-2">
        <ngb-datepicker #dp [(ngModel)]="plan.startDate" name="startDate" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Is Completed</label>
      <div class="col-lg-10">
        <select [(ngModel)]="plan.isCompleted" name="isCompleted" (change)="checkPlanStatus($event)">
          <option value="2">Upcoming</option>
          <option value="0">Ongoing</option>
          <option value="1">Completed</option>          
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" (click)="router.navigate(['/plan'])">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Submit</button>
      </div>
    </div>    
  </fieldset>
</form>
