<form class="form-horizontal" (submit)="save()">
  <fieldset style="width:500px">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Date</label>
      <div class="col-lg-10 col-lg-offset-2">
        <ngb-datepicker #dp [(ngModel)]="attendance.classDate" name="classDate" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" >Class Conducted</label>
      <div class="col-lg-10">
        <select [(ngModel)]="attendance.classConducted" name="classConducted">
          <option value=0>Yes</option>
          <option value=1>No</option>
        </select>
      </div>
    </div>
    <div class="form-group" *ngIf="attendance.classConducted=='0'">
      <label for="inputEmail" class="col-lg-2 control-label" >Trainees Present</label>
      <div class="col-lg-10">
        <select [(ngModel)]="attendance.traineesPresent" name="traineesPresent" multiple>
          <option *ngFor="let user of users" value="{{user._id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" (click)="router.navigate(['/attendance'])">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
