<button style="float:right; margin: 10px 0" (click)="router.navigate(['/attendance/add'])" class="btn btn-primary">Add Attendance</button>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Plan</th>
      <th>Date</th>
      <th>Class Conducted</th>
      <th>Trainees Present</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let att of attendance; let i = index">
      <td>{{i+1}}</td>
      <td>{{att.plan}}</td>
      <td>{{att.date}}</td>
      <td>{{att.classConducted}}</td>
      <td><a routerLink="edit/{{att._id}}">Edit</a></td>
    </tr>
  </tbody>
</table>