<button style="float:right; margin: 10px 0" routerLink='/plan/add' class="btn btn-primary">Add Plan/Need</button>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Technology</th>
      <th>Trainer</th>
      <th>Type</th>
      <!-- <th>Trainees</th> -->
      <th>Starting From</th>
      <th>Ending On</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pl of plans; let i = index">
      <td>{{i+1}}</td>
      <td>{{pl.tech.name}}</td>
      <td>{{pl.trainer}}</td>
      <td>{{pl.type==0?'Need':'Plan'}}</td>
      <!-- <td>{{pl.trainee.length}}</td> -->
      <td>{{pl.startDate | date}}</td>
      <td>{{(pl.endDate && pl.endDate!=0)?(pl.endDate | date):''}}</td>
      <td>
        <a style="cursor:pointer" routerLink="edit/{{pl._id}}">Edit</a>
        <a style="cursor:pointer" (click)="delete(pl._id,i)" routerLink="/plan">Delete</a>
        <a *ngIf="pl.isCompleted=='1'" style="cursor:pointer" routerLink="/add-feedback-rating/:id">Add Feedback & Rating</a>
      </td>
    </tr>
  </tbody>
</table>